.container{
    width: 1200px;
    margin:auto;
    background-color: #f2f2f2;
    overflow: auto;
}
.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 580px;
}
.gallery img{
    width: 80%;
    height: 80%;
    height: auto;
}